{% extends "base.html" %}
{% block title %}Question Form{% endblock %}
{% block content %}
    <form method="POST" action="{{url_for('handle_answer', id=id) }}">
        <h2>{{ question.question }}</h2>
        {% for choice in question.choices %}
            <input type="radio" id="choice" name="choice" value="{{choice}}">
            <label for="choice">{{choice}}</label><br>
        {% endfor %}

        {% if question.allow_text %}
        <textarea name="text"></textarea>
        {% endif %}

        <input type="submit" value="Submit Answer">
        <input type="submit" value="Skip" formaction="/skip" formmethod="post">
        <input type="button" onclick="window.location.href = '{{ url_for('show_questions', id=id-1) }}';" value="Previous Question"
        {% if id == 0 %}disabled{% endif %}>
    </form>
{% endblock %}